

<div class="form-container row justify-content-center mt-5">
  <div class="col-md-6">
  {{#if hasSchoolYear}}
    <div class="card">
      <div class="form-ContainerCourse text-center">
        <p class="form-text">{{#if editMode}}Edicion{{else}}Creacion{{/if}} de Cursos</p>
      </div>

      <div class="form-info-container card-body shadow-lg p-3">
        <form method="POST" action="{{#if editMode}}/edit-course{{else}}/save-course{{/if}}">
          <div class="mb-3">
            <label for="name" class="card-info">Curso</label>
            <input type="text" class="form-control" id="name" name="Name" required value="{{#if editMode}}{{course.name}}{{/if}}">
          </div>

          

        <div class="mb-3">
            <label for="schoolyear" class="card-info mt-2">Año escolar</label>
            <select id="schoolyear" name="schoolyear" class="form-control" required>
                <option value="" {{#if editMode}}{{else}} selected {{/if}}>Seleccione un año escolar</option>
                    {{#each schoolyear as |sy|}}

                        {{#if (equals sy.id ../courses.schoolyearId)}}
                            <option value="{{sy.id}}" selected >{{sy.dateunited}}</option>
                        {{else}}
                            <option value="{{sy.id}}">{{sy.dateunited}}</option>
                        {{/if}}
                    {{/each}}
             </select>
        </div>

          {{#if editMode}}
            <input type="hidden" name="coursesId" value="{{course.id}}">
          {{/if}}

          <button type="submit" class="btn btn-succ mt-3">{{#if editMode}}Editar{{else}}Crear{{/if}}</button>
          <a href="/course" class="btn btn-dang mt-3">Volver atrás</a>
        </form>
      </div>
    </div>
       {{else}}
    <h1 class="text-danger mt-5 text-center">No hay Años Escolares creados</h1>
    <h3 class="text-danger mt-5 text-center">Añada los años.</h3>
    {{/if}}
  </div>
</div>
