<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <div class="card border-0 shadow-lg rounded-lg">
      <div class="card-header bg-secondary text-white text-center">
        {{#if editMode}}Edición{{else}}Creación{{/if}} de Tutores
      </div>

      <div class="card-body">
        <form method="POST" action="{{#if editMode}}/edit-tutor{{else}}/save-tutor{{/if}}">
          <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" name="Name" required value="{{#if editMode}}{{tutor.name}}{{/if}}">
          </div>
          <div class="mb-3">
            <label for="lastname" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="lastname" name="LastName" required value="{{#if editMode}}{{tutor.lastname}}{{/if}}">
          </div>
          <div class="mb-3">
            <label for="cedula" class="form-label">Cédula</label>
            <input type="text" class="form-control" id="cedula" name="Cedula" required value="{{#if editMode}}{{tutor.cedula}}{{/if}}">
          </div>

           <div class="mb-3">
            <label for="familys" class="form-label">Familias</label>
            <select id="familys" name="familys" class="form-select" required>
              <option value="" {{#if editMode}}{{else}} selected {{/if}}>Seleccione una familia</option>
              {{#each family as |fam|}}
              {{#if (equals fam.id ../tutors.familyId)}}
              <option value="{{fam.id}}" selected>{{fam.name}}</option>
              {{else}}
              <option value="{{fam.id}}">{{fam.name}}</option>
              {{/if}}
              {{/each}}
            </select>
          </div>

          {{#if editMode}}
          <input type="hidden" name="tutorId" value="{{tutor.id}}">
          {{/if}}

          <button type="submit" class="btn btn-success">{{#if editMode}}Editar{{else}}Crear{{/if}}</button>
          <a href="/tutor" class="btn btn-danger">Volver atrás</a>
        </form>
      </div>
    </div>
  </div>
</div>
