<div class="form-container row justify-content-center mt-5">
  <div class="col-md-6">
      {{#if hasFamily}}
    <div class="card border-0 shadow-lg rounded-lg">
      <div class="form-ContainerTutors text-center">
      <p class="form-text">{{#if editMode}}Edición{{else}}Creación{{/if}} de Tutores</p>
      </div>

      <div class="form-info-container card-body shadow-lg p-3">
        <form method="POST" action="{{#if editMode}}/edit-tutor{{else}}/save-tutor{{/if}}">
          <div class="mb-3">
            <label for="name" class="card-info">Nombre</label>
            <input type="text" class="form-control" id="name" name="Name" required value="{{#if editMode}}{{tutor.name}}{{/if}}">
          </div>
          <div class="mb-3">
            <label for="lastname" class="card-info">Apellido</label>
            <input type="text" class="form-control" id="lastname" name="LastName" required value="{{#if editMode}}{{tutor.lastname}}{{/if}}">
          </div>
          <div class="mb-3">
            <label for="cedula" class="card-info">Cédula</label>
            <input type="text" class="form-control" id="cedula" name="Cedula" required value="{{#if editMode}}{{tutor.cedula}}{{/if}}">
          </div>

           <div class="mb-3">
            <label for="familys" class="card-info">Familias</label>
            <select id="familys" name="familys" class="form-control" required>
              <option value="" {{#if editMode}}{{else}} selected {{/if}}>Seleccione una familia</option>
              {{#each family as |fam|}}
              {{#if (equals fam.id ../tutor.familyId)}}
              <option value="{{fam.id}}" selected>{{fam.name}}</option>
              {{else}}
              <option value="{{fam.id}}">{{fam.name}}</option>
              {{/if}}
              {{/each}}
            </select>
          </div>

          {{#if editMode}}
          <input type="hidden" name="tutorId" value="{{tutor.id}}">
          {{/if}}

          <button type="submit" class="btn btn-succ mt-3">{{#if editMode}}Editar{{else}}Crear{{/if}}</button>
          <a href="/tutor" class="btn btn-dang mt-3">Volver atrás</a>
        </form>
      </div>
    </div>
       {{else}}
    <h1 class="text-danger mt-5 text-center">No hay Familias creadas</h1>
    <h3 class="text-danger mt-5 text-center">Cree familias para continuar.</h3>
    {{/if}}
  </div>
</div>
