<main>
<h1 class="text-title">Tutores</h1>

<div class="main-container">
      <a class="btn-add" href="/save-tutor">
      Guardar tutor
      <i class="gg-add"></i>
      </a>


<div class="row">

{{#if hasTutor}}

{{#each tutor as |tu|}}

<div class="cards">
   <div class="card-container">
    <div class="cd-container">
        <div class="info">
        <p required class="card-info">Nombre: {{tu.name}}</p>
        <p required class="card-info">Apellido: {{tu.lastname}}</p>
        <p required class="card-info">Cédula: {{tu.cedula}}</p>
        <p  class="card-info">Familia: {{tu.family.dataValues.name}}</p>
        <a class="btn btn-secondary btn-block" href="/edit-tutor/{{tu.id}}?edit=true">Editar</a> 
        </div>
        <div class="img-info">
        <img class="img-edit" src="/assets/imgs/tutorsave-img.png">    
        </div>
    </div>
</div>

</div>

{{/each}}

{{else}}
<div class="mt-container">
    <img class="std-img" src="https://wallpaperaccess.com/full/344959.jpg">
    <img class="std-img-require" src="https://images.unsplash.com/photo-1562564055-71e051d33c19?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8dHV0b3J8ZW58MHx8MHx8fDA%3D&w=1000&q=80">
    <h1 class="text-error">No hay cursos creados</h1>
</div>
{{/if}}

</div>
</div>

</main>