 <div class="form-container row justify-content-center mt-5">
  <div class="col-md-7">
    <div class="card">
    <div class="form-ContainerPay text-center">
          <p class="form-text2">Registrar pago</p>
    </div>
    </div>
    <div class="form-info-container card-body shadow-lg p-3">
    <form action="/payments" method="POST">
      <div class="mb-3 mt-2">
        <label for="amount" class="card-info">Monto</label>
        <input id='mont' type="text" class="form-control" name="mont" required disabled>
         <input id='amount' type="hidden" class="form-control" name="amount" required >
      </div>

      <div class="mb-3 mt-2">
        <label for="concept" class="card-info">Concepto</label>
        <input type="text" class="form-control" name="concept" required>
      </div>

      <div class="mb-3 mt-2">
        <label for="method" class="card-info">Método</label>
        <select class="form-control" name="method" required>
          <option value="efectivo" class="card-info">Efectivo</option>
          <option value="tarjeta" class="card-info">Tarjeta de Crédito</option>
          <option value="transferencia" class="card-info">Transferencia Bancaria</option>
        </select>
      </div>


      <div class="mb-3 mt-2">
        <label for="studentId" class="card-info">Estudiante</label>
        <select id="studentId" class="form-control" name="studentId" required>
        <option selected >Seleccione un Estudiante</option>
                    {{#each student as |st|}}

                        
                            <option value="{{st.id}}">{{st.name}}</option>
                 
                    {{/each}}
        </select>
      </div>

      <div class="mb-3 mt-2">
        <label for="schoolyearId" class="card-info">Año escolar</label>
        <select  id="schoolyearId" class="form-control" name="schoolyearId" required>
        <option selected >Seleccione un año escolar</option>
                    {{#each schoolyear as |sy|}}

              
                            <option value="{{sy.id}}">{{sy.dateunited}}</option>
               
                    {{/each}}
        </select>
      </div>

      <div class="mb-3 mt-2">
        <label for="batches" class="card-info">Tanda</label>
        <select  id="batches" class="form-control" name="batches" required>
          <option selected >Seleccione una tanda</option>
                    {{#each batches as |bt|}}

              
                            <option value="{{bt.id}}">{{bt.name}}</option>
               
                    {{/each}}
        </select>
      </div>
        

         <div class="mb-3 mt-2">
        <label for="monthId" class="card-info">Mes que se está pagando</label>
        <select  id="monthId" class="form-control" name="monthId" required>
                  <option selected >Seleccione un año escolar</option>
                    {{#each month as |mo|}}

              
                            <option value="{{mo.id}}">{{mo.month}}</option>
               
                    {{/each}}
        </select>
      </div>

      <button type="submit" class="btn btn-succ mt-3">Realizar pago</button>
    </form>
    </div>
  </div>
  </div>

<script>
  // Obtener referencias a los elementos
  const selectOptions = document.getElementById('batches');
  const textInputView = document.getElementById('mont');
  const textInput = document.getElementById('amount');

  // Función para actualizar el campo de texto
  function updateTextInput() {
    // Obtener el valor seleccionado del select
    const selectedValue = selectOptions.value;

    // Asignar el valor seleccionado al campo de texto
    if (selectedValue === '1') {
      textInputView.value = '6000.00';
      textInput.value = '6000.00';
    } else if (selectedValue === '2') {
      textInputView.value = '9000.00';
      textInput.value = '9000.00';
    } else if (selectedValue === '3') {
      textInputView.value = '11000.00';
      textInput.value = '11000.00';
    } else {
      // Si el valor seleccionado no coincide con ninguna opción, puedes hacer algo aquí
      textInput.value = ''; // Por ejemplo, dejar el campo de texto en blanco
    }
  }

  // Agregar un escuchador de eventos para el cambio en el select
  selectOptions.addEventListener('change', updateTextInput);

  // Actualizar el campo de texto inicialmente
  updateTextInput();
</script>
