<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <div class="card border-0 shadow-lg rounded-lg">
      <img src="https://cf.ltkcdn.net/family/images/orig/200821-2121x1414-family.jpg" class="card-img-top rounded-top" alt="Imagen del card">
      <div class="card-header bg-secondary text-white">
        {{#if editMode}}Edición{{else}}Creación{{/if}} de familias
      </div>

      <div class="card-body">
        <form method="POST" action="{{#if editMode}}/edit-family{{else}}/save-family{{/if}}">
          <div class="mb-3">
            <label for="lastname" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Introduzca los apellidos de la familia" required value="{{#if editMode}}{{family.name}}{{/if}}">
          </div>

          {{#if editMode}}
            <input type="hidden" name="familyId" value="{{family.id}}">
          {{/if}}

          <button type="submit" class="btn btn-success">{{#if editMode}}Editar{{else}}Crear{{/if}}</button>
          <a href="/family" class="btn btn-danger">Volver atrás</a>
        </form>
      </div>
    </div>
  </div>
</div>
