<div class="form-container row justify-content-center mt-5">
  <div class="col-md-6">
    <div class="card border-0 shadow-lg rounded-lg">
      <div class="form-ContainerFamily text-center">
      <p class="form-text">{{#if editMode}}Edición{{else}}Creación{{/if}} de familias</p>
      </div>

      <div class="form-info-container card-body shadow-lg p-3">
        <form method="POST" action="{{#if editMode}}/edit-family{{else}}/save-family{{/if}}">
          <div class="mb-3">
            <label for="lastname" class="card-info">Apellidos</label>
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Introduzca los apellidos de la familia" required value="{{#if editMode}}{{family.name}}{{/if}}">
          </div>

          {{#if editMode}}
            <input type="hidden" name="familyId" value="{{family.id}}">
          {{/if}}

          <button type="submit" class="btn btn-succ mt-3">{{#if editMode}}Editar{{else}}Crear{{/if}}</button>
          <a href="/family" class="btn btn-dang mt-3">Volver atrás</a>
        </form>
      </div>
    </div>
  </div>
</div>
