<main>
<h1 class="text-title">Estudiantes</h1>

<div class="main-container">
      <a class="btn-add" href="/save-student">
      Crear estudiantes
      <i class="gg-add"></i>
      </a>
      
<div class="row">

{{#if hasEstudiantes}}

{{#each estudiante as |est|}}

<div class="cards">
   <div class="card-container">
    <div class="cd-container">
        <div class="info">
        <p  class="card-info">Nombre: {{est.name}}</p>
        <p  class="card-info">Apellido: {{est.lastname}}</p>
        <p  class="card-info">Fecha de cumpleaños: {{est.birthdate}}</p>
        <p  class="card-info">Familia: {{est.family.dataValues.name}}</p>
        <a class="btn btn-secondary btn-block" href="/edit-student/{{est.id}}?edit=true">editar</a> 
        </div>
        <div class="img-info">
            <img class="img-edit" src="/assets/imgs/students-img-save.png">    
        </div>
    </div>
    </div>


</div>

</div>

{{/each}}

{{else}}
<div class="mt-container">
    <img class="std-img" src="https://img.freepik.com/free-photo/students-knowing-right-answer_329181-14271.jpg?w=2000">
    <img class="std-img-require" src="https://e1.pxfuel.com/desktop-wallpaper/452/475/desktop-wallpaper-anime-classroom-bench-original-school-room-thumbnail.jpg">
    <h1 class="text-error">No hay estudiantes creados</h1>
</div>
{{/if}}

</div>
</div>

</main>